*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#0f172a;
    color:white;
    padding:20px;
}

header{
    text-align:center;
    margin-bottom:20px;
}

header h1{
    color:#38bdf8;
    font-size:30px;
}

header p{
    color:#cbd5e1;
    margin-top:5px;
}

.box{
    background:#1e293b;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
}

.box h2{
    margin-bottom:15px;
    color:#38bdf8;
}

input[type=text]{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    margin-bottom:10px;
    font-size:16px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#38bdf8;
    color:white;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    margin-bottom:15px;
}

button:hover{
    background:#0ea5e9;
}

.task{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#334155;
    padding:12px;
    border-radius:10px;
    margin-top:10px;
}

.task button{
    width:auto;
    background:red;
    padding:8px 12px;
    margin:0;
}

label{
    display:block;
    margin-top:10px;
}

progress{
    width:100%;
    height:20px;
}

#countdown{
    color:#22c55e;
}
nav{
display:flex;
justify-content:space-around;
background:#111827;
padding:12px;
border-radius:12px;
margin-bottom:20px;
flex-wrap:wrap;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
padding:8px 12px;
}

nav a:hover{
color:#38bdf8;
    }
